/* custom Buddy css */

#budhist {
        color:#ffffff;
        height:auto;
        text-align:left;
        }
.menulogo {
        margin-top:20px;
        position:absolute;
        }
.budpics {
        display:block;
        margin:0 auto;
}

.budhdr {
        color:#ffffff;
        text-align:center;
        }

#headpic {
        height:600px;
        max-width:100%;
        background-size:cover;
        }

#budh3 {
        color:#000000;
        }

.budblock {
        width:200px;
        background-color:#fff;
        }

.budpanel {
        background: rgba(255, 0, 0, 0.0);
        }

.budpanel2 {
        background: rgba(255, 0, 0, 0.0);
        border:0px;
}

.budhead {
        color:#fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
        font-family: Raleway,sans-serif;              
        margin-top:20px;        
}
.pipent {
        color:#fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
        font-family: Raleway,sans-serif;
        background-color:#000;
        padding-top:10px;
        }

.bs-example {
        margin: 20px;
        background: url('../images/Fotolia_ValveDrawing.jpg') no-repeat;
        }

.pg1 {
        padding:0px;
        }
.sshot {
        border-top:0px;
        margin-top:0px;
        }
.sspanel {
        text-align:right;
        }
.hdrphone {
        padding-top:30px;
        vertical-align:middle;
        }
.budslide {
        border-bottom:0px;
        height:450px;
}
.btrailer {
        background:#ffc500;
        width:250px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	font-family: Raleway,sans-serif;
        }
.spots {
	color: #ffffff;
        background: #fff url('../images/F_SunRigs1.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
	font-family: Raleway,sans-serif;
}
.budfooter {
        height:50px;
}
.budmobile {
        margin-top:-30px;
}
.budcontact {
	color: #ffffff;
        margin-top:50px;
        margin-bottom:30px;
        background-color:#ffc500;
        text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
	font-family: Raleway,sans-serif;
}